body { 
    background-color: black; 
    margin: 0;
    padding: 20px; 
    font-family: monospace;
    color: #0DFF3D;
    z-index: 0;
}

#hacker-interface-bg { 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/bg.jpeg);
    opacity: 0.4;
    z-index: 2;
}

#hacker-interface-blur { 
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.haxxx {
    display: none;
    position: absolute;
    text-align: center;
    width: 460px;
    height: 230px;
    margin-left: -230px;
    margin-top: -115px;
    left: 50%;
    top: 70%;
    font-size: 100px;
    font-weight: bold;
    font-family: sans-serif;
    color: red;
    z-index: 1;
}

#credits {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #aaa;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 100;
}

a { color: #aaa; }
a:visited { color: #aaa; }